TestInvockWebServiceConsoleApp/Connected Services/WcsWebServiceReference/WcsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webServiceI.ewms.zjepe.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://webServiceI.ewms.zjepe.com/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webServiceI.ewms.zjepe.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webServiceI.ewms.zjepe.com/">
      <s:element name="XMZ_WCS_SUCCESS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AUTO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IS_SUCCESS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AUTO_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IS_FINISH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="WHSE_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XMZ_WCS_SUCCESSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webServiceI.ewms.zjepe.com">
      <s:element name="XMZ_WCS_COMMAND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AUTO_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="WHSE_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XMZ_WCS_COMMANDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XMZ_WCS_SUCCESSSoapIn">
    <wsdl:part name="parameters" element="s0:XMZ_WCS_SUCCESS" />
  </wsdl:message>
  <wsdl:message name="XMZ_WCS_SUCCESSSoapOut">
    <wsdl:part name="parameters" element="s0:XMZ_WCS_SUCCESSResponse" />
  </wsdl:message>
  <wsdl:message name="XMZ_WCS_COMMANDSoapIn">
    <wsdl:part name="parameters" element="tns:XMZ_WCS_COMMAND" />
  </wsdl:message>
  <wsdl:message name="XMZ_WCS_COMMANDSoapOut">
    <wsdl:part name="parameters" element="tns:XMZ_WCS_COMMANDResponse" />
  </wsdl:message>
  <wsdl:portType name="WcsWebServiceSoap">
    <wsdl:operation name="XMZ_WCS_SUCCESS">
      <wsdl:input message="tns:XMZ_WCS_SUCCESSSoapIn" />
      <wsdl:output message="tns:XMZ_WCS_SUCCESSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XMZ_WCS_COMMAND">
      <wsdl:input message="tns:XMZ_WCS_COMMANDSoapIn" />
      <wsdl:output message="tns:XMZ_WCS_COMMANDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WcsWebServiceSoap" type="tns:WcsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XMZ_WCS_SUCCESS">
      <soap:operation soapAction="http://webServiceI.ewms.zjepe.com/XMZ_WCS_SUCCESS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMZ_WCS_COMMAND">
      <soap:operation soapAction="http://webServiceI.ewms.zjepe.com/XMZ_WCS_COMMAND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WcsWebServiceSoap12" type="tns:WcsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XMZ_WCS_SUCCESS">
      <soap12:operation soapAction="http://webServiceI.ewms.zjepe.com/XMZ_WCS_SUCCESS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMZ_WCS_COMMAND">
      <soap12:operation soapAction="http://webServiceI.ewms.zjepe.com/XMZ_WCS_COMMAND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcsWebService">
    <wsdl:port name="WcsWebServiceSoap" binding="tns:WcsWebServiceSoap">
      <soap:address location="https://localhost:44315/WcsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WcsWebServiceSoap12" binding="tns:WcsWebServiceSoap12">
      <soap12:address location="https://localhost:44315/WcsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>